<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <h1>Fill out the form</h1>
    <div class="container">
        <form action="#" method="post">
            {{ form.as_p }}
            {% csrf_token %}  <!-- can be above or below the form -->
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

    </div>
</body>
</html>